.container {
    display: grid;
    grid-template-areas: 
        'header header'
        'sidebar content'
        'footer footer'
    ;

    grid-template-columns: 200px 1fr;
    grid-gap: 5px 10px;
}

.item {
    padding: 5px;
    background-color: khaki;
    border: 1px solid rgb(184, 174, 86);
}

.header {
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
    align-self: stretch;
}

.content {
    grid-area: content;
}

.footer {
    grid-area: footer;
}