.menu-container {
    background-color: chocolate;
}

.main-menu {
    padding: 0;
    list-style: none;
}

.main-menu > li {
    float: left;
}

.main-menu > li > a, 
.main-menu > li > span {
    padding: 5px 10px;
    display: inline-block;
    text-decoration: none;
    color: brown;
    background-color: beige;
    text-transform: uppercase;
}

.main-menu > li > a:hover {
    color: blue;
    background-color: aquamarine;
}

.main-menu > li.current-menu-item > span {
    font-weight: bold;
    color: black;
}
